          .path-0 {
              animation: pathAnim-0 4s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
          }

          @keyframes pathAnim-0 {
              0% {
                  d: path("M 0,500 L 0,125 C 113.65550239234452,146.23444976076553 227.31100478468903,167.46889952153109 314,163 C 400.68899521531097,158.53110047846891 460.4114832535885,128.35885167464116 540,120 C 619.5885167464115,111.64114832535884 719.043062200957,125.09569377990431 819,119 C 918.956937799043,112.90430622009569 1019.4162679425835,87.25837320574163 1123,85 C 1226.5837320574165,82.74162679425837 1333.2918660287082,103.87081339712918 1440,125 L 1440,500 L 0,500 Z");
              }

              25% {
                  d: path("M 0,500 L 0,125 C 78.86124401913875,107.08612440191388 157.7224880382775,89.17224880382774 264,91 C 370.2775119617225,92.82775119617226 503.97129186602865,114.39712918660288 600,132 C 696.0287081339713,149.60287081339712 754.3923444976076,163.23923444976074 846,172 C 937.6076555023924,180.76076555023926 1062.459330143541,184.64593301435406 1167,176 C 1271.540669856459,167.35406698564594 1355.7703349282297,146.17703349282297 1440,125 L 1440,500 L 0,500 Z");
              }

              50% {
                  d: path("M 0,500 L 0,125 C 114.19138755980862,152.95215311004785 228.38277511961724,180.90430622009566 313,186 C 397.61722488038276,191.09569377990434 452.6602870813397,173.33492822966508 546,168 C 639.3397129186603,162.66507177033492 770.976076555024,169.75598086124404 890,156 C 1009.023923444976,142.24401913875596 1115.4354066985647,107.64114832535886 1205,99 C 1294.5645933014353,90.35885167464114 1367.2822966507176,107.67942583732057 1440,125 L 1440,500 L 0,500 Z");
              }

              75% {
                  d: path("M 0,500 L 0,125 C 79.55980861244021,123.98564593301435 159.11961722488041,122.97129186602872 253,118 C 346.8803827751196,113.02870813397128 455.08133971291875,104.10047846889951 562,97 C 668.9186602870813,89.89952153110049 774.5550239234449,84.62679425837321 879,91 C 983.4449760765551,97.37320574162679 1086.6985645933016,115.39234449760767 1180,123 C 1273.3014354066984,130.60765550239233 1356.650717703349,127.80382775119617 1440,125 L 1440,500 L 0,500 Z");
              }

              100% {
                  d: path("M 0,500 L 0,125 C 113.65550239234452,146.23444976076553 227.31100478468903,167.46889952153109 314,163 C 400.68899521531097,158.53110047846891 460.4114832535885,128.35885167464116 540,120 C 619.5885167464115,111.64114832535884 719.043062200957,125.09569377990431 819,119 C 918.956937799043,112.90430622009569 1019.4162679425835,87.25837320574163 1123,85 C 1226.5837320574165,82.74162679425837 1333.2918660287082,103.87081339712918 1440,125 L 1440,500 L 0,500 Z");
              }
          }

          .path-1 {
              animation: pathAnim-1 4s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
          }

          @keyframes pathAnim-1 {
              0% {
                  d: path("M 0,500 L 0,291 C 95.9617224880383,326.6937799043062 191.9234449760766,362.3875598086124 294,348 C 396.0765550239234,333.6124401913876 504.26794258373195,269.14354066985646 610,249 C 715.732057416268,228.85645933014354 819.0047846889954,253.03827751196172 900,255 C 980.9952153110046,256.9617224880383 1039.712918660287,236.70334928229664 1126,239 C 1212.287081339713,241.29665071770336 1326.1435406698565,266.1483253588517 1440,291 L 1440,500 L 0,500 Z");
              }

              25% {
                  d: path("M 0,500 L 0,291 C 87.50239234449762,265.8516746411483 175.00478468899524,240.70334928229664 260,256 C 344.99521531100476,271.29665071770336 427.48325358851673,327.0382775119617 541,322 C 654.5167464114833,316.9617224880383 799.0622009569377,251.1435406698565 915,246 C 1030.9377990430623,240.8564593301435 1118.267942583732,296.3875598086125 1201,314 C 1283.732057416268,331.6124401913875 1361.8660287081339,311.3062200956938 1440,291 L 1440,500 L 0,500 Z");
              }

              50% {
                  d: path("M 0,500 L 0,291 C 92.39234449760767,279.3349282296651 184.78468899521533,267.66985645933016 271,256 C 357.21531100478467,244.33014354066987 437.2535885167463,232.6555023923445 530,251 C 622.7464114832537,269.3444976076555 728.2009569377992,317.70813397129183 833,339 C 937.7990430622008,360.29186602870817 1041.9425837320573,354.5119617224881 1143,342 C 1244.0574162679427,329.4880382775119 1342.0287081339713,310.24401913875596 1440,291 L 1440,500 L 0,500 Z");
              }

              75% {
                  d: path("M 0,500 L 0,291 C 81.92344497607655,303.6124401913876 163.8468899521531,316.22488038277515 270,311 C 376.1531100478469,305.77511961722485 506.53588516746413,282.7129186602871 614,274 C 721.4641148325359,265.2870813397129 806.0095693779905,270.92344497607655 887,280 C 967.9904306220095,289.07655502392345 1045.4258373205741,301.5933014354067 1137,304 C 1228.5741626794259,306.4066985645933 1334.287081339713,298.70334928229664 1440,291 L 1440,500 L 0,500 Z");
              }

              100% {
                  d: path("M 0,500 L 0,291 C 95.9617224880383,326.6937799043062 191.9234449760766,362.3875598086124 294,348 C 396.0765550239234,333.6124401913876 504.26794258373195,269.14354066985646 610,249 C 715.732057416268,228.85645933014354 819.0047846889954,253.03827751196172 900,255 C 980.9952153110046,256.9617224880383 1039.712918660287,236.70334928229664 1126,239 C 1212.287081339713,241.29665071770336 1326.1435406698565,266.1483253588517 1440,291 L 1440,500 L 0,500 Z");
              }
          }